.wrap {
  place-content: center;
}
header {
  place-items: center;
  margin: 8em auto;
  padding: 1em;
  text-align: center;
}
h1 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer {
  text-align: center;
}
a {
  margin: auto;
}